$maincolor: #21252b;
$introcolor: #022E40;
$aboutcolor: lightcoral;
$portfoliocolor: bisque;
$contactcolor: lightblue;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
    } 
}